

@media only screen and (max-width: 768px) {
    #logo {
        width: 220px;
       }
    #top-lefts{
        display: none;
    } 
    #welcome-text{
        font-size: 36px;
    }
    #choice-mob{
    background-color: #0b3c5d;
    width: 140px;
    margin: 25px 8.5px 26px 8.5px;
    border-radius: 8px;
    }

    #choice-mob>button{
        width: 104px;
       margin: 10px 4px 10px 4px;
       position: center;
       font-size: 10px;
       font-weight: bold;
       padding: 8px;
    }

    #icon-mob{
      height: 85px;
      top: -47px;
      width: 84px;
    }
    #pic-mob{
       position:center;
       height: 59px;
       width: 59px;
     }
}

@media only screen and (max-width: 330px ) {
   #choice-mob{
    background-color: #0b3c5d;
    width: 128px;
    margin: 25px 8.5px 26px 8.5px;
    border-radius: 8px;
    }

    #choice-mob>button{
        width: 92px;
       margin: 10px 4px 10px 4px;
       position: center;
       font-size: 9px;
       font-weight: ;
       padding: 8px;
    }
  }

.header-top{
	background-color: #0b3c5d;

}

#top-lefts {
	margin:5px 0px 5px 0px; 
}
#top-lefts>a{color:#fff;
	text-decoration: none;
font-size: 12px;
}
#top-right a{
	text-decoration: none;
 float: right;
 margin:5px 0px 5px 0px; 

}

.main-nav{
    border:none;
	
	font-size: 17px;
	
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px;
    padding: 4px;
background-color: rgba(250 ,250, 255, 0.2);


}

.navi{
    margin-top:29px;

}

.brand-text{
font-size: 30px;
font-weight: bold;
color:#0b3c5d; 
}

.mybanner{
background: url("../images/banne.jpg") no-repeat fixed 0 0/cover;
padding:0;
background-position: center;
    background-position-x: 48%;
    background-position-y: 40%;

}
.bg-color{
    background-color: RGBA(109 ,189, 214, 0.1);
    min-height: 650px;
}

.banner-content >h1{
   color: #0b3c5d;
   font-weight:500;
   font-size: 60px;
 font-family: "Times New Roman", Times, serif;
position: center;
}
.banner-choices{
	
margin-top:28px;
}

.choices1{
background-color:#0b3c5d;
position:relative;
width: 188px;
margin: 25px 40px 26px 54px;
border-radius: 1px 25px 1px 25px;
}

.choices1>button{
    width: 150px;
   margin: 16px 4px 20px 4px;
   position: center;

}

 .icon-pic {
    position:center;
 height: 68px;
 width: 68px;
    left: 0;
    margin: auto;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    
    
}
.icon-main {
    background:#ffffff none repeat scroll 0 0;
    border: 5px solid #c0b0ed;
   
    border-radius: 100%;
    height: 91px;
    left: 0;
    margin: auto;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -54px;
    width: 91px;
}

/*booking page class starts*/

.book-banners{
background: url("../images/bann.jpg") no-repeat fixed 0 0/cover;
padding:0;

background-position: center;
    background-position-x: 40%;
    background-position-y: 50%;
    min-height: 570px;
}

.select {
    border: 4px solid rgba(00, 10, 00, 0.3);
    border-radius: 10px;

    margin-top: 6px;
      
}
.specialist{
   
font-size: 16px;
font-family: 'Open Sans', sans-serif;
height: 50px;
}



/*loading image*/
.loader{
    opacity: 0.7;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
background:  rgba(242,245,255,.8)url("../images/loading.gif") no-repeat 50% 55%;
}


/*TOP-SPECIALISTS*/
.top-specialists{
    background-color:#adbddd;
    border-bottom: solid 1px #000000;
}

.spec-icons{
    margin: 14px auto 14px auto;
}