@media only screen and (max-width: 500px ) {
    #logo {
        width: 210px;
       }

     #logo-button{
     	float: left;
     	color: red;
     }   
    #top-lefts{
        display: none;
    } 

}

.header-top{
	background-color: #00102a;

}

#top-lefts {
	margin:5px 0px 5px 0px; 
}
#top-lefts>a{color:#fff;
	text-decoration: none;
font-size: 12px;
}
#top-right a{
	text-decoration: none;
 float: right;
 margin:5px 0px 5px 0px; 

}

.main-nav{
	border-radius: 0px;
	font-weight: 500;
	font-size: 18px;
	 font-family: "Times New Roman", Times, serif;
    margin-bottom: 0px;
    padding-right: 6px;

}
.logo-brand{
display: none;	
}
.navi{
    margin-top:29px;
}

.brand-text{
font-size: 30px;
font-weight: bold;
color:#00102a; 
}

.mybanner{
background:rgba(0, 0, 0, 0) url("../images/banner.png") no-repeat scroll 0 0/cover;padding:0;
background-position: center;
    background-position-x: 50%;
    background-position-y: 50%;

}

.banner-content >h1{
   color: #00102a;
   font-weight:600;
   font-size: 54px;
 font-family: "Times New Roman", Times, serif;
position: center;
}
.banner-choices{
	
margin-top:28px;
margin-bottom: 90px;
}

.choices1{
background-color: #00102a;
;
width: 178px;
margin: 25px 8.5px 26px 8.5px;
border-radius: 8px;
}

.choices1>button{
   margin: 10px 4px 10px 4px;
   position: center;

}

 .icon-pic {
    position:center;
 height: 62px;
 width: 62px;
    left: 0;
    margin: auto;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    
    
}
.icon-main {
    background:#ffffff none repeat scroll 0 0;
    border: 5px solid #c8d9dd;
   
    border-radius: 100%;
    height: 84px;
    left: 0;
    margin: auto;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -47px;
    width: 84px;
}